	body{
		overflow-x: hidden !important;
	}
	.navbar{
		position: absolute;
		width: 95%;
		left: 2.5%;
		height:40px;	
	}
	.navbar > img{
		float:left;
		height:100%;
		margin-right: 100px;	
	}
	.first{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;	
	}
	.last{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;	
	}
	.navbar > span {
		background-color:#018080;
		font-family: Ubuntu;
		font-weight: bold;
		float: right;
		line-height:40px;
		vertical-align:middle;
		padding-left:10px;
		padding-right:10px;
		border: 1px solid #007070;
		border-radius-left-top: 10px;
	}
	.navbar > i{
		float: right;
		line-height:40px;
		vertical-align:middle;
		padding-left:20px;
		padding-right:10px;	
	}
   .front{
	  height: 100%;
	  width: 100%; 
   }
   .front > img{
	   position:absolute;
	   top: 25%;
	   left: 18%;
	   bottom: 25%;
	   height:50%;
   }
   .front > span{
	   font-family: Ubuntu;
	   position:absolute;
	   right: 15%;
	   height: 100px;
	   top:50%;
	   margin-top:-100px;
	   line-height: 100px;
	   vertical-align: middle;
	   font-size:25px;
   }
   span > a{
	   font-family: Ubuntu;
	   padding: 15px;
	   line-height: 53px;
	   vertical-align:middle;
	   background-color:#018080;
	   color: #000;
	   text-decoration:none;
	   font-size: 20px;
	   border-radius: 5px;
   }
   #slider1{
   position: absolute;
   background-image:url("../img/coruja.png");
   background-size: contain;
   background-repeat: no-repeat;
   height: 65%;
   top: 115%;
   right:11%;
   width: 30%
   
   }
   
   #tslider1{
   position: absolute;
   height:65%;
   top: 119%;
   left: 18%;
   width: 40%;
   }
   
   #tslider2{
   position: absolute;
   height: 65%;
   top:198%;
   right: 18%;
   width: 40%;
  
   }
   
   #slider2{
   position: absolute;
   background-image:url("../img/rapido.png");
   background-size: contain;
  background-repeat: no-repeat;
   height: 65%;
   top: 196%;
   left: 13%;
   width: 30%;
   
   }
   
   #tslider3{
   position: absolute;
   height:65%;
   top: 282%;
   left: 18%;
   width: 40%;
   }
   
   #slider3{
   position: absolute;
   background-image:url("../img/ligacao.png");
   background-size: contain;
  background-repeat: no-repeat;
   height: 65%;
   top: 277%;
   right:11%;
   width: 30%
   }
   
   #tslider4{
   position: absolute;
   height:65%;
   top: 358%;
   right: 18%;
   width: 40%;
   }
   
   #slider4{
   position: absolute;
   background-image:url("../img/bemvindo.png");
  background-repeat: no-repeat;
   background-size: contain;
   height: 65%;
   top: 358%;
   left: 13%;
   width: 30%;
	}
   
   #rodape{
   position:absolute;
   height: 10%;
   top: 439%;
   left:18%;
   width:64%;
   }
   
   t{
  font-family:Century Gothic; text-align:center; color:#fff; font-size:40px; margin-top:0px;
   }
   
   n{
   font-family:Century Gothic; text-align:center; color:#fff; font-size:80px; margin-top:0px;
   }
   
   v{
   font-family:Century Gothic; text-align:center; color:#fff; font-size:30px; margin-top:0px;
   }
   
   c{
   font-family:Century Gothic; text-align:center; color:#fff; font-size:12px; margin-top:0px;
   }
   
.wrapper
{
  max-width:30em;
  margin:2em auto;
}

.scrollme
{
  perspective:600px;
}

.animateme
{
  transform-origin:center center center;
}

html{
background: -moz-linear-gradient(273deg, rgba(13,115,68,1) 0%, rgba(13,115,68,1) 33%, rgba(0,128,128,1) 100%)repeat-X; /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(13,115,68,1)), color-stop(33%, rgba(13,115,68,1)), color-stop(100%, rgba(0,128,128,1)))repeat-X; /* safari4+,chrome */
background: -webkit-linear-gradient(273deg, rgba(13,115,68,1) 0%, rgba(13,115,68,1) 33%, rgba(0,128,128,1) 100%)repeat-X; /* safari5.1+,chrome10+ */
background: -o-linear-gradient(273deg, rgba(13,115,68,1) 0%, rgba(13,115,68,1) 33%, rgba(0,128,128,1) 100%)repeat-X; /* opera 11.10+ */
background: -ms-linear-gradient(273deg, rgba(13,115,68,1) 0%, rgba(13,115,68,1) 33%, rgba(0,128,128,1) 100%)repeat-X; /* ie10+ */
background: linear-gradient(177deg, rgba(13,115,68,1) 0%, rgba(13,115,68,1) 33%, rgba(0,128,128,1) 100%) repeat-X; /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d7344', endColorstr='#008080',GradientType=0 ) repeat-X; /* ie6-9 */
background-attachment: fixed;
}

#logo {
 height: 35%;
background-image: url("../img/logosemfundo.png");
background-repeat: no-repeat;
background-position: top;
background-size: contain;
   }
   
   #texto{
   height: 10%;
   }
   
   #caixa{
   height:30%;
   }
   
input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #f7f7f7;
  outline: none;
  color: #FFFFFF;
  font-size: 16px;
}

input[type="submit"] {
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: #0f7445;
}

::-webkit-input-placeholder { /*fock que deixa as palavras do confirmar senha com cor */
  color: #FFFFFF;
  font-size: 12px;
  }