@font-face {
 font-family:Ubuntu;
 src: url("../fonts/Ubuntu-R.ttf"); /* EOT file for IE */
}
@font-face {
 font-family:Ubuntu;
 font-width:bold;
 src: url("../fonts/Ubuntu-B.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:Ubuntu;
 font-width:lighter;
 src: url("../fonts/Ubuntu-L.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:Ubuntu;
 font-width:lighter;
 font-style: italic;
 src: url("../fonts/Ubuntu-LI.ttf"); /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:Ubuntu;
 font-style: italic;
 src: url("../fonts/Ubuntu-RI.ttf"); /* EOT file for IE */
}
@font-face {
 font-family:Ubuntu;
 font-width:bold;
 font-style: italic;
 src: url("../fonts/Ubuntu-BI.ttf"); /* TTF file for CSS3 browsers */
}